/* ============================================
   MDB Grid & Layout System (Integrated with Brand Variables)
   ============================================ */

/* Container */
.container,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  --bs-gutter-x: var(--grid-gutter, 24px);
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}

/* Fluid container */
.container-fluid {
  --bs-gutter-x: var(--grid-gutter, 24px);
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

/* Row */
.row {
  --bs-gutter-x: var(--grid-gutter, 24px);
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

/* Column utilities */
.col {
  flex: 1 0 0%;
}

.row-cols-1 > * {
  flex: 0 0 100%;
}

.row-cols-2 > * {
  flex: 0 0 50%;
}

.row-cols-3 > * {
  flex: 0 0 33.333333%;
}

.row-cols-4 > * {
  flex: 0 0 25%;
}

.row-cols-5 > * {
  flex: 0 0 20%;
}

.row-cols-6 > * {
  flex: 0 0 16.666667%;
}

@media (min-width: 576px) {
  .col-sm {
    flex: 1 0 0%;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 33.333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 16.666667%;
  }
}

@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0%;
  }
  .row-cols-md-1 > * {
    flex: 0 0 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 33.333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 16.666667%;
  }
}

@media (min-width: 992px) {
  .col-lg {
    flex: 1 0 0%;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 33.333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 16.666667%;
  }
}

@media (min-width: 1200px) {
  .col-xl {
    flex: 1 0 0%;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 33.333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 16.666667%;
  }
}

@media (min-width: 1400px) {
  .col-xxl {
    flex: 1 0 0%;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 33.333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 16.666667%;
  }
}

/* Specific column widths */
.col-1 {
  flex: 0 0 8.333333%;
}

.col-2 {
  flex: 0 0 16.666667%;
}

.col-3 {
  flex: 0 0 25%;
}

.col-4 {
  flex: 0 0 33.333333%;
}

.col-5 {
  flex: 0 0 41.666667%;
}

.col-6 {
  flex: 0 0 50%;
}

.col-7 {
  flex: 0 0 58.333333%;
}

.col-8 {
  flex: 0 0 66.666667%;
}

.col-9 {
  flex: 0 0 75%;
}

.col-10 {
  flex: 0 0 83.333333%;
}

.col-11 {
  flex: 0 0 91.666667%;
}

.col-12 {
  flex: 0 0 100%;
}

@media (min-width: 576px) {
  .col-sm-1 {
    flex: 0 0 8.333333%;
  }
  .col-sm-2 {
    flex: 0 0 16.666667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.333333%;
  }
  .col-sm-5 {
    flex: 0 0 41.666667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.333333%;
  }
  .col-sm-8 {
    flex: 0 0 66.666667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.333333%;
  }
  .col-sm-11 {
    flex: 0 0 91.666667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 8.333333%;
  }
  .col-md-2 {
    flex: 0 0 16.666667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
  }
  .col-md-4 {
    flex: 0 0 33.333333%;
  }
  .col-md-5 {
    flex: 0 0 41.666667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
  }
  .col-md-7 {
    flex: 0 0 58.333333%;
  }
  .col-md-8 {
    flex: 0 0 66.666667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
  }
  .col-md-10 {
    flex: 0 0 83.333333%;
  }
  .col-md-11 {
    flex: 0 0 91.666667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 8.333333%;
  }
  .col-lg-2 {
    flex: 0 0 16.666667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.333333%;
  }
  .col-lg-5 {
    flex: 0 0 41.666667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.333333%;
  }
  .col-lg-8 {
    flex: 0 0 66.666667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.333333%;
  }
  .col-lg-11 {
    flex: 0 0 91.666667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 8.333333%;
  }
  .col-xl-2 {
    flex: 0 0 16.666667%;
  }
  .col-xl-3 {
    flex: 0 0 25%;
  }
  .col-xl-4 {
    flex: 0 0 33.333333%;
  }
  .col-xl-5 {
    flex: 0 0 41.666667%;
  }
  .col-xl-6 {
    flex: 0 0 50%;
  }
  .col-xl-7 {
    flex: 0 0 58.333333%;
  }
  .col-xl-8 {
    flex: 0 0 66.666667%;
  }
  .col-xl-9 {
    flex: 0 0 75%;
  }
  .col-xl-10 {
    flex: 0 0 83.333333%;
  }
  .col-xl-11 {
    flex: 0 0 91.666667%;
  }
  .col-xl-12 {
    flex: 0 0 100%;
  }
}

@media (min-width: 1400px) {
  .col-xxl-1 {
    flex: 0 0 8.333333%;
  }
  .col-xxl-2 {
    flex: 0 0 16.666667%;
  }
  .col-xxl-3 {
    flex: 0 0 25%;
  }
  .col-xxl-4 {
    flex: 0 0 33.333333%;
  }
  .col-xxl-5 {
    flex: 0 0 41.666667%;
  }
  .col-xxl-6 {
    flex: 0 0 50%;
  }
  .col-xxl-7 {
    flex: 0 0 58.333333%;
  }
  .col-xxl-8 {
    flex: 0 0 66.666667%;
  }
  .col-xxl-9 {
    flex: 0 0 75%;
  }
  .col-xxl-10 {
    flex: 0 0 83.333333%;
  }
  .col-xxl-11 {
    flex: 0 0 91.666667%;
  }
  .col-xxl-12 {
    flex: 0 0 100%;
  }
}

/* Gutters */
.g-0,
.gx-0 {
  --bs-gutter-x: 0;
}

.g-0,
.gy-0 {
  --bs-gutter-y: 0;
}

.g-1,
.gx-1 {
  --bs-gutter-x: var(--space-xs, 4px);
}

.g-1,
.gy-1 {
  --bs-gutter-y: var(--space-xs, 4px);
}

.g-2,
.gx-2 {
  --bs-gutter-x: var(--space-sm, 8px);
}

.g-2,
.gy-2 {
  --bs-gutter-y: var(--space-sm, 8px);
}

.g-3,
.gx-3 {
  --bs-gutter-x: var(--space-md, 12px);
}

.g-3,
.gy-3 {
  --bs-gutter-y: var(--space-md, 12px);
}

.g-4,
.gx-4 {
  --bs-gutter-x: var(--space-lg, 16px);
}

.g-4,
.gy-4 {
  --bs-gutter-y: var(--space-lg, 16px);
}

.g-5,
.gx-5 {
  --bs-gutter-x: var(--space-xl, 24px);
}

.g-5,
.gy-5 {
  --bs-gutter-y: var(--space-xl, 24px);
}

.g-6,
.gx-6 {
  --bs-gutter-x: var(--space-2xl, 32px);
}

.g-6,
.gy-6 {
  --bs-gutter-y: var(--space-2xl, 32px);
}

/* Offsets */
.offset-1 {
  margin-left: 8.333333%;
}

.offset-2 {
  margin-left: 16.666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.333333%;
}

.offset-5 {
  margin-left: 41.666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.333333%;
}

.offset-8 {
  margin-left: 66.666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.333333%;
}

.offset-11 {
  margin-left: 91.666667%;
}

@media (min-width: 576px) {
  .offset-sm-1 {
    margin-left: 8.333333%;
  }
  .offset-sm-2 {
    margin-left: 16.666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.333333%;
  }
  .offset-sm-5 {
    margin-left: 41.666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.333333%;
  }
  .offset-sm-8 {
    margin-left: 66.666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.333333%;
  }
  .offset-sm-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 768px) {
  .offset-md-1 {
    margin-left: 8.333333%;
  }
  .offset-md-2 {
    margin-left: 16.666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.333333%;
  }
  .offset-md-5 {
    margin-left: 41.666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.333333%;
  }
  .offset-md-8 {
    margin-left: 66.666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.333333%;
  }
  .offset-md-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 992px) {
  .offset-lg-1 {
    margin-left: 8.333333%;
  }
  .offset-lg-2 {
    margin-left: 16.666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.333333%;
  }
  .offset-lg-5 {
    margin-left: 41.666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.333333%;
  }
  .offset-lg-8 {
    margin-left: 66.666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.333333%;
  }
  .offset-lg-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 1200px) {
  .offset-xl-1 {
    margin-left: 8.333333%;
  }
  .offset-xl-2 {
    margin-left: 16.666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.333333%;
  }
  .offset-xl-5 {
    margin-left: 41.666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.333333%;
  }
  .offset-xl-8 {
    margin-left: 66.666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.333333%;
  }
  .offset-xl-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 1400px) {
  .offset-xxl-1 {
    margin-left: 8.333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.666667%;
  }
}
